body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Poppins', sans-serif;
  // line-height: 1.5;
  color: darken($second__background-color, 20%);
}
// Type Scale: 1.067em
h1, h2, h3, h4, h5, h6, p,
ul, ol, dl, dd,
figure, blockquote, details, hr,
fieldset, pre, table,caption,
menu {
  margin: 0 0 0.4rem;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 3rem;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 3rem;
}

h1,
.exa {
  font-size: 1.383rem;
  line-height: 1.8rem;
}

h2,
.peta {
  font-size: 1.2962rem;
  line-height: 1.8rem;
}

h3,
.tera {
  font-size: 1.2148rem;
  line-height: 1.8rem;
}

h4,
.giga {
  font-size: 1.1385rem;
  line-height: 1.5rem;
}

h5,
.mega {
  font-size: 1.067rem;
  line-height: 1.5rem;
}

h6,
.kilo,
input,
textarea {
  font-size: 1rem;
  line-height: 1.5rem;
}

small,
.milli {
  font-size: .9372rem;
  line-height: 1.5rem;
}

.micro {
  font-size: .8784rem;
  line-height: 1.2rem;
}

.nano {
  font-size: .8232rem;
  line-height: 1.2rem;
}

